{% extends "page.html" %}
{% block content %}

{% if messages %}
{% if "success" in messages %}
{% for msg in messages["success"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <div><i class="bi-emoji-smile-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "error" in messages %}
{% for msg in messages["error"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <div><i class="bi-x-octagon-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "warn" in messages %}
{% for msg in messages["warn"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <div><i class="bi-exclamation-triangle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}

{% if "info" in messages %}
{% for msg in messages["info"] %}
<div class="row justify-content-md-center">
  <div class="col-md-10">
    <div class="alert alert-info alert-dismissible fade show" role="alert">
      <div><i class="bi-info-circle-fill" style="padding-right:5px;"></i> {{ msg }}</div>
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
  </div>
</div>
{% endfor %}
{% endif %}
{% endif %}

{% if inputs %}
<form class="form mt-4" style="max-width: 30em; margin-left: auto; margin-right: auto " action="">
  <h4>Input required for '{{ action.label }}'</h4>
  {% for input in inputs %}
  <div class="row py-2">
    <div class="col-md-4">
      <label class="col-form-label" for="{{ input.name }}">{{ input.label }}</label>
    </div>
    <div class="col-md-8">
      <input class="form-control" type="text" name="{{ input.name }}" value="{{ input.value if input.value }}"
        placeholder="{{ input.placeholder }}" />
    </div>
  </div>
  {% endfor %}
  <div class="row py-2">
    <div class="col text-end">
      <button class="btn btn-primary" type="submit" name="user.action" value="{{ action_name }}">Submit</button>
    </div>
  </div>
</form>
{% endif %}

{% if results %}
<h4 class="mt-4">Results for for '{{ action.label }}'</h4>
{% for result in results %}
<div class="card mt-4">
  <div class="card-header text-bg-{{ 'success' if result.status == 0 else 'danger' }}">
    <pre class="mb-0">&gt; {{ result.command }}</pre>
  </div>
  <div class="card-body">
    {% if result.stdout %}<pre>{{ result.stdout|safe }}</pre>{% endif %}
    {% if result.status != 0 %}
    <h5>Exit status: {{ result.status }}</h5>
    {% endif %}
    {% if result.stderr %}
    <h5>Errors:</h5>
    <pre>{{ result.stderr|safe }}</pre>
    {% endif %}
  </div>
</div>
{% endfor %}
{% endif %}

{% endblock %}