{% extends "page.html" %}
{% block content %}
<h2>{{ table.table }}</h2>

<div class="row justify-content-end">
  <div class="col-auto">
    <a class="btn btn-outline-primary" href="{{ table.href }}">Reset</a>
  </div>
  <div class="col-auto">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link {{ 'disabled' if not table.first }}" href="{{ table.first }}" aria-label="First">
            <span aria-hidden="true"><i class="bi bi-chevron-bar-left"></i></span>
            <span class="visually-hidden">First</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link {{ 'disabled' if not table.previous }}" href="{{ table.previous }}" aria-label="Previous">
            <span aria-hidden="true"><i class="bi bi-chevron-left"></i></span>
            <span class="visually-hidden">Previous</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" href="#">
            {{ table.start }}-{{ table.end }} of {{ table.count }}
          </a>
        </li>
        <li class="page-item">
          <a class="page-link {{ 'disabled' if not table.next }}" href="{{ table.next }}" aria-label="Next">
            <span aria-hidden="true"><i class="bi bi-chevron-right"></i></span>
            <span class="visually-hidden">Next</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link {{ 'disabled' if not table.last }}" href="{{ table.last }}" aria-label="Last">
            <span aria-hidden="true"><i class="bi bi-chevron-bar-right"></i></span>
            <span class="visually-hidden">Last</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</div>
<table class="table">
  <tr>
    {% for name, value in column|items -%}
    <th>
      {{ name }}
      {% if value.filters %}
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel-fill"
        viewBox="0 0 16 16">
        <path
          d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2z" />
      </svg>
      {% endif %}
    </th>
    {% endfor %}
  </tr>
  {% for r in row -%}
  <tr>
    {% for column, cell in r|items -%}
    {% if cell.nulltype %}
    <td class="bg-null"></td>
    {% elif cell.href %}
    <td><a href="{{ cell.href }}">{{ cell.value }}</a></td>
    {% else %}
    <td>{{ cell.value }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<pre>
  <code>
    PAGE {{ page|tojson(true) }}
    TABLE {{ table|tojson(true) }}
    COLUMN {{ column|tojson(true) }}
    ROW {{ row|tojson(true) }}
  </code>
</pre>
{% endblock %}