{% extends "page.html" %}
{% block content %}
<h2>{{ table.path }}</h2>
<table class="table">
  <tr>
    {% for name, value in column|items -%}
    <th>{{ name }}</th>
    {% endfor %}
  </tr>
  {% for r in row -%}
  <tr>
    {% for column, cell in r|items -%}
    {% if cell.href %}
    <td><a href="{{ cell.href }}">{{ cell.value }}</a></td>
    {% else %}
    <td>{{ cell.value }}</td>
    {% endif %}
    {% endfor %}
  </tr>
  {% endfor %}
</table>

<pre>
  <code>
    PAGE {{ page|tojson(true) }}
    TABLE {{ table|tojson(true) }}
    COLUMN {{ column|tojson(true) }}
    ROW {{ row|tojson(true) }}
  </code>
</pre>
{% endblock %}